<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}"
            rel="stylesheet">
        <link href="{{ url_for('static',filename='css/style.css') }}"
            rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin | KeepTheBox</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-dark navbar-dark">
            <a class="navbar-brand p-3" href="#">KeepTheBox Contribution Tool -
                v{{ version }}</a>
            
            <ul class="navbar-nav ml-auto pr-3">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('adminUsers') }}">Admin</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid p-5">
            <div class="row bg-primary p-3 rounded gx-1 pt-5 pb-5">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="display-5">
                            KeepTheBox Admin - Materials
                        </h3>
                        <p>
                            Administrator interface for KeepTheBox. Create, delete, and reset passwords for user accounts here.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static',filename='img/Shulker_Box.webp') }}"
                                class="img-fluid mb-2 mx-auto d-none d-md-block" style="height: auto; width: 70%">
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md">
                    <h2>Add New Material</h2>
                    <p>Sample stuff here</p>
                </div>
                <div class="col-md">
                    <h2>Show all Mats</h2>
                    <p>More filler stuff here.
                    </p>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
</html>