<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}"
            rel="stylesheet">
        <link href="{{ url_for('static',filename='css/style.css') }}"
            rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin | KeepTheBox</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-dark navbar-dark">
            <a class="navbar-brand p-3" href="#">KeepTheBox Contribution Tool -
                v{{ version }}</a>
            
            <ul class="navbar-nav ml-auto pr-3">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('adminUsers') }}">Admin</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid pt-2">
            <div class="row bg-primary p-3 rounded gx-1 pt-5 pb-5">
                <div class="row">
                    <div class="col-md-9">
                        <h3 class="display-5">
                            KeepTheBox Admin - Users
                        </h3>
                        <p>
                            Administrator interface for KeepTheBox. Create, delete, and reset passwords for user accounts here.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static',filename='img/Shulker_Box.webp') }}"
                                class="img-fluid mb-2 mx-auto d-none d-md-block" style="height: auto; width: 70%">
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md text-center">
                    <h2 class="f b">Create New User</h2>
                    <form id='create' action='/admin/users/create' method='post'>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary" type="submit">Submit</button>
                            </div>
                            <input type="text" name="username" class="form-control" placeholder="Username">
                            <input type="text" name="password"class="form-control" placeholder="Password">
                        </div>
                    </form>
                    <p>{{ rtrnMsg }}</p>
                </div>
                <div class="col-md text-center">
                    <h2 class="f b">All Users</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in allUsers %}
                            <tr>
                                <td scope="row">{{ x[0] }}</td>
                                <td scope="row">
                                    <a href="/admin/users/{{ x[0] }}/delete">Delete</a>
                                    <a href="/admin/users/{{ x[0] }}/reset">Reset Password</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
</html>